{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}Guess!{% endblock %}


{% block leftcontent %}
  <div class="row" style="padding: 20px">
    <h3>You choose David as respondent</h3>
    <h3>You invested {{invested}} to David</h3>
    <h3>Please guess amount of money David would return</h3>
    <form>
      <input type="text" name="">
      <button>Guess</button>
    </form>
  </div>


{% endblock %}




{% block rightcontent %}

{% endblock %}

{% block scontent %}
  <!-- JavaScript code for this project -->
  <script type="text/javascript">

  </script>

{% endblock %}
