{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}Welcome!{% endblock %}

{% block leftcontent %}


<div id="questionnaire_si0">
<br>
<br>
  <form action="{% url 'question1' %}" method="post" id="questionform">
  {% csrf_token %}

  <p><b>Are you a U.S. citizen?</b></p>
  <div class="radio">
    <label>
      <input type="radio" name="question1" id="question1A" value="A">
      Yes 
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="question1" id="question1B" value="B">
      No
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="question1" id="question1C" value="C">
      Don't know
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="question1" id="question1D" value="D">
      Refuse to answer
    </label>
  </div>



  <button  style="position: relative; right: 0px; top: 10px" type="submit">Next</button>
</form>
<br>
<br>
<br>
</div>

{% endblock %}

{% block rightcontent %}
    <div id="RightContentContainer">
    </div>

{% endblock %}

{% block scontent %}
  <!-- JavaScript code for this project -->

<script type="text/javascript">

      $("#RightContentContainer").height($("#questionnaire_si0").height());
      // $("#RightContentContainer").width($(window).width()/2);
      
      var keep = Math.floor(Math.random() * 3); 

      $( document ).ready(function() {
                      
          var elems = $(".random");
          for (var i = 0; i < elems.length; ++i) {
              if (i !== keep) {
                $(elems[i]).hide();
              }
          }

      });
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


      $( "#questionform" ).submit(function( event ) {
          event.preventDefault();

          var errorInPage = false;

          var q1answer = $('input[name=question1]:checked').val();



          if (!q1answer) {
            alert("Please check all the anwsers")
          } else {

            request = $.ajax({
                url: "{% url 'question0_store' %}",
                method: "POST",
                data:
                { 'question1': q1answer}
                ,
                datatype: "json"
            });
            
            request.done(function(msg) {
                if (msg == "A") {
                  var url = "{% url 'question01' %}";
                  window.location.href = url;
                } else {
                  var url = "{% url 'question1' %}";
                  window.location.href = url;                  
                }
            });
           

          }
        })
    

</script>



{% endblock %}
